@charset "utf-8";

body,figure,figcaption,h3,p,img{
	margin:0 ;
	padding: 0;
}

figure{
	position: relative;
	float:left;
	height: 300px;
	overflow: hidden;
}
figure img {
	/*width:100%;*/
	/*height:100%;*/
	opacity: 0.8;
}

figure figcaption{
	position: absolute;
	top:0;
	left:0;
	color:#fff;
	font-family: "微软雅黑";
}
figure figcaption p {
	margin: 3px;
	padding:10px;
	transition: all .5s;
}
figure figcaption h3{
	margin:3px;
	padding:10px;
}
figure img {
	transition: all .5s;
}
figure div{
	transition:all .5s;
}

.test1{
	background: #e06666;
}
.test1 figcaption p{
	background: #fff;
	color:#333;
	text-align: center;	
	transform: translate(-150px,0px);
}
/*nth-of-type 该元素的父元素的第几个子元素,为每个子元素设置动画延时*/
.test1 figcaption p:nth-of-type(1){
	transition-delay: 0.05s;
}
.test1 figcaption p:nth-of-type(2){
	transition-delay: 0.1s;
}
.test1 figcaption p:nth-of-type(3){
	transition-delay: 0.15s;
}
.test1 figcaption p:nth-of-type(4){
	transition-delay: 0.2s;
}
.test1:hover figcaption p{
	transform: translate(0px,0px);
}
.test1:hover img{
	transform: translate(-50px,0);
	opacity: 0.5;
}

.test2{
	background: #14e736;
}
.test2 figcaption{
	width:100%;
	height:100%;
}
.test2 figcaption div{
	width:80%;
	height:80%;
	border:5px solid #fff;
	position: absolute;
	top:10%;
	left:10%;
	transform: translate(0,-150%) rotate(0);
}
.test2:hover figcaption div{
	transform: translate(0px,0px) rotate(360deg);
}
.test2:hover img{
	opacity: 0.7;
}
.test2:hover figcaption p{
	margin-left: 10%;
}

.test3{
	background: #000;
}
.test3 figcaption{
	top:30%;
	left:30%;
}
/*不是很理解斜切*/
.test3 figcaption p {
	transform:skew(90deg);
	transition-delay: 0.05s;
}
.test3 figcaption h3 {
	transform:skew(90deg);
	-moz-transition-delay: 0.05s;
}
.test3:hover figcaption p {
	transform: skew(0deg);
}
.test3:hover figcaption h3 {
	transform: skew(0deg);
}

.test4{
	background: #000;
}

.test4 figcaption{
	width: 100%;
	height: 100%;
}
.test4 figcaption p {
	margin-left: 10%;
	transform: scale(1.1,1.1);
	opacity: 0;
}
.test4 figcaption h3{
	margin-left: 10%;
	transform: scale(1.1,1.1);
	opacity: 0;
}
.test4 figcaption div{
	width:80%;
	height:80%;
	border:5px solid #fff;
	position: absolute;
	top:10%;
	left:10%;
	transform: scale(1.1,1.1);
}

.test4:hover figcaption div{
	transform: scale(1,1);
}
.test4 img {
	transform: scale(1.1,1.1);
}
.test4:hover img{
	transform: scale(1,1);
	opacity: 0.5;
}
.test4:hover figcaption p {
	transform: scale(1,1);
	opacity: 1;
}
.test4:hover figcaption h3 {
	transform: scale(1,1);
	opacity: 1;
}





/*媒体宽度>=1001px时*/
@media only screen and (min-width: 1001px) {
	figure{
		width:33.33%;
	}
}

/*媒体宽度小<=1000px时*/

/*@media only screen and (max-width:1000px ) {
	figure{
			width:50%;
	}
}*/
/*媒体宽度<=600px*/
@media only screen and (max-width: 600px) {
	figure{
		width:100%;
	}
}

/*由于<=600px和<=1000px冲突了，所以还需要设置一个区间601<= and < =1000px*/
@media only screen and (min-width: 601px) and(max-width:1000px) {
	figure{
		width: 50%;
	}
}


